.page {
    align-items:center;
    justify-content:center;
    gap:5px;
}
.titre {
    display: flex;
    text-align:center;
    justify-content:center;
}
.images {
    display: flex;
    align-items: center;
    justify-content:center;
    gap:10px;
}
.image1 {
    height: 100px;
    width: 100px;
    gap:10px;
}
.centrage {
    display: flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}