body {
    width:100%;
    margin: 0%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
.page {
    background-color: #290758;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:5px;
}
.titre {
    display:flex;
    width:100%;
    align-items: center;
    justify-content:center;
    border: 2px solid black;
    border-radius: 25px;
}
.titrenonencadrer {
    display:flex;
    width:100%;
    align-items: center;
    justify-content:center;
}
.titre-principal{
    display:flex;
    align-items: center;
    justify-content: center;
    width:400px;
}
.centré {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:10%;
    margin-bottom:10px;
}
.fullcentré {
    display: flex;
    align-items:center;
    justify-content: center;
}
.collés {
    display: flex;
    justify-content:space-between;
    gap:5%;
}
.liste {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.image1 {
    height: 125px;
    width : 225px;
}
.image2 {
    height: 350px;
    width : 800px;
    margin-bottom: 1%;
}
.textecollés {
    display: flex;
    justify-content:center;
    width:80%;
    flex-direction:row;
    gap:10%;
    margin-bottom:10px;
}
.suivis {
    display: flex;
    justify-content:center;
    align-items : center;
    width:100%;
    flex-direction:column;
    gap:10px;
}
.align {
    display: flex;
    justify-content:flex-start;
    width : 48%;
}
.textlist {
    text-align: left;
    margin-bottom:5px;
}
.screen {
    background-color : rgb(192, 194, 197);
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:10px;
    border-radius: 25px;
    margin-bottom:1%;
}
.tirets {
    display : flex;
    text-align:left;
    align-items : center;
    flex-direction: column;
    width : 70%;
    margin-bottom:5px;

}
.texte {
    padding:10px;
    margin-bottom:5px;
}
