html, body {
  overflow-x: hidden;
}
body {

    width:100%;
    margin: 0%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
.page {
    background-color: #290758;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.titre {
    display:flex;
    width:100%;
    align-items: center;
    justify-content:center;
    border: 2px solid black;
    border-radius: 25px;
}
.titrenonencadrer {
    display:flex;
    width:100%;
    align-items: center;
    justify-content:center;
}
.titre-principal{
    display:flex;
    align-items: center;
    justify-content: center;
    width:30%;
}
.centré {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:16px;
    margin-bottom:2%;
}
.fullcentré {
    display: flex;
    align-items:center;
    justify-content: center;
}
.collés {
    display: flex;
    justify-content:center;
    align-items:center;
    width : 100%;
    gap : 8px;
}
.liste {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.image1 {
    width:100%;
    max-width: 250px;
    height: auto;
}
.image2 {
    height: 60%;
    width : 75%;
    margin-bottom: 2%;
}
.textecollés {
    display: flex;
    justify-content:center;
    width:80%;
    flex-direction:row;
    gap:16px;
    margin-bottom:1%;
}
.suivis {
    display: flex;
    justify-content:center;
    align-items : center;
    width:100%;
    flex-direction:column;
    gap:10px;
}
.align {
    font-family: Times, serif;
    display: flex;
    justify-content:flex-start;
    font-size-adjust: 0.3;
    width : 48%;
}
.textlist {
    text-align: left;
    margin-bottom:5px;
}
.screen {
    background-color : rgb(192, 194, 197);
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:10px;
    border-radius: 25px;
    margin-bottom:2%;
}
.tirets {
    font-family: Times, serif;
    display : flex;
    text-align:left;
    align-items : left;
    flex-direction: column;
    width : 70%;
    margin-bottom:5px;

}
.milieu {
    font-family: Times, serif;
    display : flex;
    text-align:center;
    align-items : center;
    flex-direction: column;
    width : 70%;
    margin-bottom:5px;

}
.texte {
    font-family: Times, serif;
    padding:10px;
    font-size-adjust: 0.3;
    margin-bottom:5px;
}
.police {
    font-family: Times, serif;
    text-align:left;
    font-size-adjust: 0.3;
}